header {
    font-size: 1.5rem;
    font-weight: bold;
}

header>h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #4c4c6d;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

@media (max-width: 480px) {
    header>h1 {
        font-size: 1.8rem;
        text-align: center;
    }
}